$theme-color : #34b2ed;
$font-color : #8F8F8F;

.login-form {

    .btn-theme-color {
        background-color: $theme-color;
    }

    .reachout-logo {
        height: 32px;
    }

    .mobile-app-icons {
        height: 40px;
    }

    .navbar-logo {
        height: 45px;
        width: 110px;
        cursor: pointer;
    }

    .grey-color {
        color: $font-color;
    }

    .font-size-13 {
        font-size: 13px
    }

    .font-color-grey {
        color: $font-color;
    }

    .theme-color {
        color: $theme-color;
    }

    @media (min-width: 320px) { 
        .navbar-logo {
            width: 130px;
        }
    }
}