$navbar-logo-height : 32px;

$theme-color : #34b2ed;
$font-color: #FFF;

.page-container {
    max-width: 1000px;
}

@media (max-width :320px) {
    .reg-form-card {
        padding: 15px;
    }

}

@media (max-width :768px) {
    .row.form-group .col-md-6:nth-child(2) {
        margin-top: 15px;
    }
}
@media (min-width: 320px) {
    .reg-form-card {
        padding: 30px;
    }

}
@media (min-width: 678px) {
    .reg-form-card {
        padding: 50px;
    }    
}


.btn-theme-color {
    color: $font-color;
    background-color: $theme-color;
}

.navbar-logo {
    height: $navbar-logo-height;
}

.navbar-container {
    margin: 0;
    height: 60px;
}

input.has-error {
    border: 1px solid red;
}

span.checkmark.has-error {
    border: 1px solid red;
}

ul.feature-list {
    padding-inline-start: 0;
    li {
        list-style: none;
        &::before {
            font-family: FontAwesome;
            content: "\f00c";
            margin-right: 20px;    
            color: #8CBA3B;        
        }
    }
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #CFCFCF;
  }
 
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #FFF;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid $theme-color;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .reg-form-col {
      margin-top: 40px;
  }

  

  .feature-list {
      margin-top: 40px;
      font-size: 13px;
      color: #535353;
  }

  .sign-up-message {
      color: #606060;
  }

  .join-message{
    font-size: 13px;
    color: #8F8F8F;
  }