<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5">
    <div class="container">
        <img class="navbar-logo" [src]="logoUrl" alt="">
    </div>
</nav>
  
  <!-- Page Content -->
  <div class="container-up">
    <div class="container">
    <div class="card border-0 shadow my-5">
        <div class="row signup-form">
            <div class="col-sm-5 sign-up-message">
                <h3>
                Free Sign-up to Get
                Everything to Start with !
                </h3>
                <ul class="feature-list">
                    <li>All Modules</li>
                    <hr>
                    <li>3 Users & 3GB Free Forever</li>
                    <hr>
                    <li>No credit card is required to sign up.</li>
                </ul>
                <p>
                Need more users? When you are ready, add them from inside the web application. Payments are handled there directly by a secure payment gateway and no credit card details are ever stored by ReachOut.
                </p>
            </div>
            <div class="col-sm-7">
            <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)" >
                <div class="row form-group">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="col-sm-6 form-second">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email ID">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Name">
                </div>

                <div class="row form-group">
                    <div class="col-sm-6">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="col-sm-6 form-second">
                        <input type="password" class="form-control" placeholder="Confirm Password">
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>

                
                    <label class="checkbox-container">I agree with the <a href="https://www.reachoutsuite.com/terms-and-conditions/">terms of service</a>
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>

                <button type="submit" class="btn btn-theme-color btn-md btn-block">Sign up</button>

            </form>
            </div>
        </div>

    </div>
    </div>
  </div>