/* Set a background image by replacing the URL below */

$sign-up-padding320 : 40px;
$sign-up-padding768 : 40px;
$sign-up-padding992 : 40px;
$sign-up-padding1200: 40px;

body {
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

@media (min-width: 320px) {
    .navbar-logo {
        height: 32px;
    }
    .signup-form {
        padding: $sign-up-padding320;
    }
    .container {
        padding: 0;
    }
}
@media (min-width: 768px) {
    .navbar-logo {
        height: 32px;
    }
    .signup-form {
        padding: $sign-up-padding768;
    }
}
@media (min-width: 992px) {
    .navbar-logo {
        height: 32px;
    }

    .signup-form {
        padding: $sign-up-padding992;
    }
}
@media (min-width: 1200px) {
    .navbar-logo {
        height: 40px;
    }

    .signup-form {
        padding: $sign-up-padding1200;
    }

    .sign-up-message {
        padding: 20px;
    }
}
